@page
@model SistemaCadastro.Pages.Home.IndexModel

@{
    ViewBag.Title = "ASP.NET Core Razor Pages - Sistema de Cadastro";
}

<div class="jumbotron">
    <h1>Bem vindo</h1>
    <p class="lead">"@User.Identity.Name".</p>
</div>

